Source: rozofs
Section: admin
Priority: optional
Maintainer: Dmitry Smirnov <onlyjob@debian.org>
Build-Depends: debhelper (>= 9), dh-python, dh-systemd (>= 1.5)
              ,cmake
              ,libattr1-dev
              ,libconfig-dev
              ,libfuse-dev (>= 2.9.0)
              ,libreadline-dev
              ,python-all-dev
              ,swig
              ,uuid-dev
              ,python-sphinx-rtd-theme
              ,python-sphinx | python3-sphinx
Standards-Version: 3.9.6
X-Python-Version: >= 2.7 << 3.0
Homepage: http://www.rozofs.com
Vcs-Browser: http://anonscm.debian.org/cgit/collab-maint/rozofs.git
Vcs-Git: git://anonscm.debian.org/collab-maint/rozofs.git

Package: rozofs-exportd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
        ,portmap | rpcbind
Recommends: rozofs-manager-agent
Suggests: syslinux-utils
Description: RozoFS filesystem (export daemon)
 RozoFS exportd daemon manages metadata for the RozoFS filesystems.
 .
 RozoFS is a scale-out distributed network POSIX file system using erasure
 coding and Mojette Transform algorithm for data distribution. RozoFS
 designed to provide very high availability levels with optimized raw
 capacity usage on heterogeneous commodity hardware.

Package: rozofs-storaged
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
        ,portmap | rpcbind
Recommends: rozofs-manager-agent
Description: RozoFS filesystem (storage daemon)
 RozoFS storaged daemon stores encoded data for the RozoFS filesystems.
 .
 RozoFS is a scale-out distributed network POSIX file system using erasure
 coding and Mojette Transform algorithm for data distribution. RozoFS
 designed to provide very high availability levels with optimized raw
 capacity usage on heterogeneous commodity hardware.

Package: rozofs-client
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
        ,fuse
Description: RozoFS filesystem (mount utility)
 rozofsmount mounts RozoFS filesystems using FUSE.
 .
 RozoFS is a scale-out distributed network POSIX file system using erasure
 coding and Mojette Transform algorithm for data distribution. RozoFS
 designed to provide very high availability levels with optimized raw
 capacity usage on heterogeneous commodity hardware.

Package: python-rozofs-manager
Section: python
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}
        ,pyro
        ,python-argparse
        ,python-yaml
Description: RozoFS filesystem (management library)
 Python management libraries for RozoFS.
 .
 RozoFS is a scale-out distributed network POSIX file system using erasure
 coding and Mojette Transform algorithm for data distribution. RozoFS
 designed to provide very high availability levels with optimized raw
 capacity usage on heterogeneous commodity hardware.

Package: rozofs-manager-agent
Architecture: any
Depends: ${misc:Depends}
        ,python-rozofs-manager (>= ${source:Version})
        ,rozofs-tools
Description: RozoFS filesystem (management daemon)
 Management daemon for RozoFS.
 .
 RozoFS is a scale-out distributed network POSIX file system using erasure
 coding and Mojette Transform algorithm for data distribution. RozoFS
 designed to provide very high availability levels with optimized raw
 capacity usage on heterogeneous commodity hardware.

Package: rozofs-tools
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, ${python:Depends}
        ,python-rozofs-manager (>= ${source:Version})
Description: RozoFS filesystem tools
 This package provides the following RozoFS tools:
 * rozo        -- management command-line for RozoFS (management cli).
 * rprof       -- allows profiling of RozoFS filesystems.
 * rozofsdebug -- allows deep audit of RozoFS filesystems.
 .
 RozoFS is a scale-out distributed network POSIX file system using erasure
 coding and Mojette Transform algorithm for data distribution. RozoFS
 designed to provide very high availability levels with optimized raw
 capacity usage on heterogeneous commodity hardware.

#Package: rozofs-manager-cli
#Architecture: any
#Depends: ${misc:Depends}, ${python:Depends}
#        ,python-rozofs-manager
#Description: RozoFS filesystem (management cli)
# Management command-line for RozoFS.
# .
# RozoFS is a scale-out distributed network POSIX file system using erasure
# coding and Mojette Transform algorithm for data distribution. RozoFS
# designed to provide very high availability levels with optimized raw
# capacity usage on heterogeneous commodity hardware.

#Package: rozofs-rprof
#Architecture: any
#Depends: ${shlibs:Depends}, ${misc:Depends}
#Description: RozoFS filesystem (monitoring package)
# rprof allows profiling of RozoFS filesystems.
# .
# RozoFS is a scale-out distributed network POSIX file system using erasure
# coding and Mojette Transform algorithm for data distribution. RozoFS
# designed to provide very high availability levels with optimized raw
# capacity usage on heterogeneous commodity hardware.

#Package: rozofs-rozodiag
#Architecture: any
#Depends: ${shlibs:Depends}, ${misc:Depends}
#Description: RozoFS filesystem (debugging tools)
# rozofsdebug allows deep audit of RozoFS filesystems.
# .
# RozoFS is a scale-out distributed network POSIX file system using erasure
# coding and Mojette Transform algorithm for data distribution. RozoFS
# designed to provide very high availability levels with optimized raw
# capacity usage on heterogeneous commodity hardware.


Package: rozofs-dbg
Section: debug
Priority: extra
Architecture: any
Depends: ${misc:Depends}
        ,rozofs-client (= ${binary:Version}) | rozofs-storaged (= ${binary:Version}) | rozofs-exportd (= ${binary:Version})
Description: RozoFS filesystem (debugging symbols)
 Provide debugging information for the various rozofs packages.
 Install it to get a better backtrace in the event of a crash, or to test.
 .
 RozoFS is a scale-out distributed network POSIX file system using erasure
 coding and Mojette Transform algorithm for data distribution. RozoFS
 designed to provide very high availability levels with optimized raw
 capacity usage on heterogeneous commodity hardware.

Package: nagios-plugins-rozofs
Section: net
Priority: extra
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
        ,rozofs-tools (>= ${source:Version})
#        ,rozofs-rozodiag (>= ${source:Version})
Description: RozoFS filesystem (Nagios plugins)
 Provide monitoring information for the various rozofs packages.
 .
 RozoFS is a scale-out distributed network POSIX file system using erasure
 coding and Mojette Transform algorithm for data distribution. RozoFS
 designed to provide very high availability levels with optimized raw
 capacity usage on heterogeneous commodity hardware.

Package: rozofs-doc
Section: doc
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}, ${sphinxdoc:Depends}
        ,libjs-modernizr
        ,python-sphinx-rtd-theme
Suggests: www-browser
Description: RozoFS filesystem (documentation)
 RozoFS file system documentation (HTML).
 .
 RozoFS is a scale-out distributed network POSIX file system using erasure
 coding and Mojette Transform algorithm for data distribution. RozoFS
 designed to provide very high availability levels with optimized raw
 capacity usage on heterogeneous commodity hardware.
