#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
##export DH_VERBOSE=1

export DEB_BUILD_MAINT_OPTIONS = hardening=+all,-pie

CMAKE_FLAGS += -DCMAKE_SKIP_RPATH=ON \
               -DCMAKE_BUILD_TYPE:STRING=Release \
               -DSYSCONFDIR:STRING=/etc \
               -DDEBIAN_LAYOUT=ON

#               -DCMAKE_INSTALL_PREFIX:STRING=/usr \

%:
	dh $@ --buildsystem=cmake --parallel --with python2,systemd,sphinxdoc

override_dh_auto_configure:
	dh_auto_configure -- $(CMAKE_FLAGS)

override_dh_auto_build:
	dh_auto_build
	dh_auto_build -- sphinx_guide_html

override_dh_install:
	dh_install -prozofs-doc --sourcedir=$(CURDIR)/obj-$(DEB_BUILD_MULTIARCH) doc/users_guide_sphinx/html  /usr/share/doc/rozofs-doc
	## Use libjs-modernizr, see #765420:
	perl -pi -E 's{https://cdnjs\.cloudflare\.com/ajax/libs/modernizr/2\.6\.2/}{file:///usr/share/javascript/modernizr/};' $(CURDIR)/debian/rozofs-doc/usr/share/doc/rozofs-doc/html/*.html
	dh_install

override_dh_sphinxdoc:
	dh_sphinxdoc
	## Use python-sphinx-rtd-theme; remove dirs for symlinking:
	$(RM) -rv $(CURDIR)/debian/rozofs-doc/usr/share/doc/rozofs-doc/html/_static/css \
                  $(CURDIR)/debian/rozofs-doc/usr/share/doc/rozofs-doc/html/_static/fonts \
                  $(CURDIR)/debian/rozofs-doc/usr/share/doc/rozofs-doc/html/_static/js

override_dh_fixperms:
	dh_fixperms
	chmod -c a-x \
            debian/*/usr/share/doc/nagios-plugins-rozofs/examples/*.cfg \
            debian/*/etc/nagios-plugins/config/rozofs-commands.cfg

override_dh_strip:
	dh_strip --dbg-package=rozofs-dbg
